<!DOCTYPE	html>
<html>
<head>
    {%	block	head	%}
        <link	rel="stylesheet"	href="style.css"	/>
        <title>{%	block	title	%}{%	endblock	%}	|	My	Webpage</title>
    {%	endblock	%}
</head>
<body>
<div    id="menu">
   {% include 'base/menu.html.twig' %}
</div>
<h1>{% block controlerTitle %}new title{% endblock %}</h1>
<div	id="content">{%	block	content	%}{%	endblock	%}</div>

</body>
</html>