{% extends "base/base.html.twig" %}

{% block title %}scheduleIdentityManagerBundle:scheduleManager:manageSchedule{% endblock %}

{% block controlerTitle %}
<h1>Schedule manager</h1>
{% endblock %}

{% block content %}
    test
{% endblock %}
