{% extends 'base/base.html.twig' %}

{% block content %}
    <h1>dodawanie sezonu</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="utwórz" />
    {{ form_end(form) }}


{% endblock %}
